```{=html}
<% for (const item of items) { %>
  <div class="card mb-2">
      <a href="<%- item.link %>">
          <img
            src="<%- item.img %>" 
            alt=""<%- item.alt %>"
            class="card-img-top" />
      </a>
      <div class="card-body">
        <a href="<%- item.link %>">
          <h5 class="card-title"><%- item.title %></h5>
        </a>
        <p class="card-text"><%- item.title %></p>
      </div>
  </div>
<% } %>
```